* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

// declaring the variables
$mainBlack: #000;
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGrey: #ececec;

body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

::selection {
  color: white;
  background-color: $mainBlack;
}
